# HoneyCoin Payment Service

# App Port
PORT=3000

# Database - SQLite - We auto create if missing
DATABASE_PATH=./data/charges.db

# Provider URLs
PROVIDER_ALPHA_URL=http://localhost:4001
PROVIDER_BETA_URL=http://localhost:4002
# PROVIDER_GAMMA_URL=http://localhost:4003
